<meta charset="utf-8">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="/javascripts/loadactivity.js"></script>

    <link rel="stylesheet" href="/stylesheets/activity.scss">
</head>

<body style="font-size: 18px;">
<div class="activitypage">
    <div class="container text-center mt-6">
        <div class="d-flex justify-content-center py-2" id="userID">UserID:
            <div name="userID" style="display:inline" id="userID">{{ userID }}</div>
        </div>
        <h1 class="py-2">Exercise {{ sequence }} of 50</h1>

        <p class="py-2 text-danger" id="errorText1"> {{ error }} </p>

        <p class="text-danger">Time remaining: <span id="time"> 00:{{ time }}</span></p>

        <div class="container mainContainer">
                <div class='images-row'>
                    <canvas class="img-with-text" id="canvas"></canvas>
                    <canvas class="img-for-zoom" id="zoomed"></canvas>
                </div>

                <div class="col-sm answeractivity">

                    <br>
                    <p>Please select which object you believe to be in the image.</p>
                    <p>If there is no target object in the image, select NONE.</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary mr-1 rounded"  id="01">
                            <input type="radio" name="q1" autocomplete="off"> Gun
                        </label>
                        <label class="btn btn-secondary mr-1 rounded" id="02" >
                            <input type="radio" name="q1" autocomplete="off"> Knife
                        </label>
                        <label class="btn btn-secondary mr-1 rounded"  id="03">
                            <input type="radio" name="q1" autocomplete="off"> Wrench
                        </label>
                        <label class="btn btn-secondary mr-1 rounded"  id="04">
                            <input type="radio" name="q1" autocomplete="off"> Pliers
                        </label>
                        <label class="btn btn-secondary mr-1 rounded" id="05">
                            <input type="radio" name="q1" autocomplete="off"> Scissors
                        </label>
                        <label class="btn btn-secondary mr-1 rounded"  id="06">
                            <input type="radio" name="q1" autocomplete="off"> Hammer
                        </label>
                        <label class="btn btn-secondary ml-4 rounded" id="00">
                            <input type="radio" name="q1" autocomplete="off"> NONE
                        </label>
                    </div>
                    <div id="popup" style="color: blue;"> </div>

                    <br>

                    <form id="subForm" action="/activity/{{ userID }}/" method="POST">
                        <p class="py-2 text-danger" id="errorText2"> {{ error }} </p>
                        <input type="submit" class="btn btn-outline-success" id="submitButton" value="Submit">
                    </form>
                </div>

        </div>
    </div>
</div>

<script>
    var duration = '{{ time }}'
    duration = duration - 1
    var userID = '{{ userID }}';
    var question = '{{ question }}';
    display = document.querySelector('#time')
    capText = document.getElementById("caption");
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    var zoomcanvas = document.getElementById('zoomed');
    var zoomctx = zoomcanvas.getContext('2d');
    var imgWidth = 400;
    var imgHeight = 400;
    ctx.canvas.width = imgWidth;
    ctx.canvas.height = imgHeight;
    zoomctx.canvas.width = imgWidth;
    zoomctx.canvas.height = imgHeight;
    var rect = {}; // Properties: startX, startY, w, h
    rect.startX = null;
    rect.startY = null;
    rect.w = null;
    rect.h = null;
    var drag = false;
    var imageObj = null;

    // Popup text when "Yes" selected
    var yesButon1 = document.getElementById("01");
    var yesButon2 = document.getElementById("02");
    var yesButon3 = document.getElementById("03");
    var yesButon4 = document.getElementById("04");
    var yesButon5 = document.getElementById("05");
    var yesButon6 = document.getElementById("06");
    yesButon1.onclick = function (){
        document.getElementById("popup").innerText = "Please draw a bounding box on the image around the object.";
    }
    yesButon2.onclick = function (){
        document.getElementById("popup").innerText = "Please draw a bounding box on the image around the object.";
    }
    yesButon3.onclick = function (){
        document.getElementById("popup").innerText = "Please draw a bounding box on the image around the object.";
    }
    yesButon4.onclick = function (){
        document.getElementById("popup").innerText = "Please draw a bounding box on the image around the object.";
    }
    yesButon5.onclick = function (){
        document.getElementById("popup").innerText = "Please draw a bounding box on the image around the object.";
    }
    yesButon6.onclick = function (){
        document.getElementById("popup").innerText = "Please draw a bounding box on the image around the object.";
    }

    window.onload = function () {
        if (duration <= 0) {
            document.getElementById("popup").innerText = "";
            duration = 1
            renderQuestion(userID, question, duration);
        } else {
            renderQuestion(userID, question, duration);
            startTimer(duration, display, capText, userID);
            trackMouse(duration,e);
        }
    }
</script>

</body>
</html>
